:root {
  --background_primary: #FFFFFF;
  --background_second: #FBDFDB;
  --background_third: #EEEEEE;

  --background_inactive: #666666;

  --text-00: #000000;
  --text-05: #111111;
  --text-20: #444444;
  --text-35: #777777;
  --text-45: #999999;

  --font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-05);
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* --------------------- HEADER --------------------- */
.header {
  display: flex;
  align-items: center;

  height: 5rem;
}

.logo {
  margin-right: 15%;
}

.links {
  display: flex;
}

.links__item:not(:first-child) {
  margin-left: 2rem;
}

/* --------------------- FOOTER --------------------- */
.footer {
  height: 3.875rem;
  width: 100%;

  background-color: var(--background_third);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__copyright {
  font-size: 0.875rem;
  color: var(--text-45);
}
